{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{%block title%}AddCourse{%endblock%}

{%block nav%}
    <div class="nav-links">
        <ul>
      <li><a href="/home">Home</a></li>
      {% if user.is_authenticated%} 
          {% if user.is_admin or user.is_teacher%}
            <li><a href="/instructor_summary"><i>Applications</i></a></li>
          {% else%}
            <li><a href="/applications"><i>Applications</i></a></li>
          {%endif%}
        <li><a href="/notifications"><i>Notifications</i></a></li>
        <li><a href="/logout"><i>Logout</i></a></li>
        {%endif%}
    </ul>
    </div>
{%endblock%}



{%block content%}
<h3>Add Course</h3>
{% if user.is_authenticated%}
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Add course</button>
    </form>
{%else%}
    <h2>You do not have access to this page</h2>  
{% endif %}
    
{%endblock%}
