{% extends "main/base.html" %}

{%block nav%}
    <div class="nav-links">
      <ul>
        <li><a href="/home"><i>Home</i></a></li>
        {% if user.is_authenticated%} 
          {% if user.is_admin or user.is_teacher%}
            <li><a href="/instructor_summary"><i>Applications</i></a></li>
          {% else%}
            <li><a href="/applications"><i>Applications</i></a></li>
          {%endif%}
        <li>
          <a href="/notifications">
          {%if user.notifications == 0%}
            <i>Notifications</i>
          {%else%}
            <i>Notifications </i><span class="badge badge-light">{{user.notifications}}</span>
          {%endif%}
          </a>
        </li>
        <li><a href="/logout"><i>Logout</i></a></li>
        {%endif%}
      </ul>
    </div>
{%endblock%}

{% block content %}
  <h1>{{ application }}</h1>

  <p><h4><strong>Student:</strong></h4>{{ application.user }}</p> <!-- author detail link not yet defined -->
  <p><h4><strong>Previous Experience:</strong></h4>{{ application.taken_prev }} {{ application.prev_desc }}</p>
  <p><h4><strong>Cover Letter:</strong></h4>{{ application.coverl_desc }}</p>
  <p><h4><strong>Resume:</strong></h4><a href="resume/{{application.id}}" target="_blank" rel="noopener noreferrer">{{application.resume}}</a></p>

{% endblock %}
