{% extends 'main/base.html' %}

{%block title%}Home{%endblock%}

{%block nav%}
    <div class="nav-links">
      <ul>
        <li><a href="/home"><i>Home</i></a></li>
        {% if user.is_authenticated%} 
          {% if user.is_admin or user.is_teacher%}
            <li><a href="/instructor_summary"><i>Applications</i></a></li>
          {% else%}
            <li><a href="/applications"><i>Applications</i></a></li>
          {%endif%}
        <li>
          <a href="/notifications">
          {%if user.notifications == 0%}
            <i>Notifications</i>
          {%else%}
            <i>Notifications </i><span class="badge badge-light">{{user.notifications}}</span>
          {%endif%}
          </a>
        </li>
        <li><a href="/logout"><i>Logout</i></a></li>
        {%endif%}
      </ul>
    </div>
{%endblock%}

{%block content%}
<h3>Welcome  back {{user}}</h3>
{% if user.is_authenticated and user.is_teacher %}
    <p>You are logged in as an instructor.</p>
    <p> To begin, create a new course or browse your course summary. </p>
    <a href="/create/course" class="btn btn-success">New course</a>
    <div class="course-summary">
        <h1 class="display-4">Your Courses</h1> 
        <div class="table-responsive-md">
            <table class="table table-dark table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-4"></th>
                    <th scope="col"><h3>Positions</h3></th>
                    <th class="col-sm-2"><h3>Schedule</h3></th>
                    <th scope="col"><h3>Discussion</h3></th>
                    <th class="col-sm-2"><h3>Graded Hw</h3></th>
                    <th class="col-sm-2"><h3>Office hours</h3></th>
                    <th class="col-sm-1"><h3>Action</h3></th>
                  </tr>
                </thead>
                <tbody>
              {% if courses %}
                      <tr>
                      {% for course in courses%}
                        {% if course.user == user %}
                          <td><h4>{{course.course_code}}</h4>
                            <p>{{course.desc}}</p>
                          </td>
                          <td style="text-align: center;">{{course.filled}}/{{course.positions}}</td>
                          <td style="text-align: center;">
                            <p>
                              {% for day in course.days%}
                              <span class="badge badge-light">{{day}}</span>
                              {% endfor %}
                              :
                            </p>
                            <p>{{course.start_time}} - {{course.end_time}}</p>
                          </td>
                          <td style="text-align: center;">{{course.disc_flag}}</td>
                          <td style="text-align: center;">{{course.graded_hw}}</td>
                          <td style="text-align: center;">{{course.office_hours}} per week</td>
                          <td style="text-align: center;">
                            {%if course.open%}
                            <a href="/home/{{course.id}}" class="btn btn-success">View summary</a></td>
                            {%else%}
                            <a href="/instructor_summary" class="btn btn-success disabled">Closed</a></td>
                            {%endif%}
                        {%else%}
                        {%endif%}
                      </tr>
                      {% endfor %}
                  </tbody>
              {% else %}
                <p>There are no courses.</p>
              {% endif %}
                </table>
        </div>
    </div>

{% elif user.is_authenticated and user.is_student %}
    <p>You are logged in as a student.</p> 
    <p> To begin, apply to a course you are interested in or view your applications.</p>
    <a href="/applications" class="btn btn-success">My applications</a>
   
    <div class="course-summary">
        <h1 class="display-4">Open Courses</h1> 
        <div class="table-responsive-md">
            <table class="table table-dark table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-4"></th>
                    <th scope="col"><h3>Positions</h3></th>
                    <th class="col-sm-2"><h3>Schedule</h3></th>
                    <th scope="col"><h3>Discussion</h3></th>
                    <th class="col-sm-2"><h3>Graded Hw</h3></th>
                    <th class="col-sm-2"><h3>Office hours</h3></th>
                    <th class="col-sm-1"><h3>Action</h3></th>
                  </tr>
                </thead>
                <tbody>
              {% if courses %}
                      <tr>
                      {% for course in courses%}
                        {% if course.open == False%}
                        {%else%}
                          <td><h4>{{course.course_code}}</h4>
                            <p>{{course.desc}}</p>
                          </td>
                          <td style="text-align: center;">{{course.filled}}/{{course.positions}}</td>
                          <td style="text-align: center;">
                            <p>
                              {% for day in course.days%}
                              <span class="badge badge-light">{{day}}</span>
                              {% endfor %}
                              :
                            </p>
                            <p>{{course.start_time}} - {{course.end_time}}</p>
                          </td>
                          <td style="text-align: center;">{{course.disc_flag}}</td>
                          <td style="text-align: center;">{{course.graded_hw}}</td>
                          <td style="text-align: center;">{{course.office_hours}} per week</td>
                          <td style="text-align: center;"><a href="/apply/{{course.id}}" class="btn btn-success">Apply</a></td>
                      </tr>
                        {%endif%}
                      {% endfor %}
                  </tbody>
              {% else %} 
                <p>There are no courses.</p>
              {% endif %} 
                </table>
        </div>
    </div>
  {%else%}
    <p>You are logged in as an admin.</p>
    <p> To begin, create a new course, application or enter the admin dashboard. </p>
    <a href="/create/course" class="btn btn-success">New course</a>
    <a href="/create/application" class="btn btn-success">New application</a>
    <a href="/admin" class="btn btn-primary">Admin dashboard</a>
    
    <div class="course-summary">
        <h1 class="display-4">Open Courses</h1> 
        <div class="table-responsive-md">
            <table class="table table-dark table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-4"></th>
                    <th scope="col"><h3>Positions</h3></th>
                    <th class="col-sm-2"><h3>Schedule</h3></th>
                    <th scope="col"><h3>Discussion</h3></th>
                    <th class="col-sm-2"><h3>Graded Hw</h3></th>
                    <th class="col-sm-2"><h3>Office hours</h3></th>
                    <th class="col-sm-1"><h3>Action</h3></th>
                  </tr>
                </thead>
                <tbody>
              {% if courses %}
                      <tr>
                      {% for course in courses%}
                          <td><h4>{{course.course_code}}</h4>
                            <p>{{course.desc}}</p>
                          </td>
                          <td style="text-align: center;">{{course.filled}}/{{course.positions}}</td>
                          <td style="text-align: center;">
                            <p>
                              {% for day in course.days%}
                              <span class="badge badge-light">{{day}}</span>
                              {% endfor %}
                              :
                            </p>
                            <p>{{course.start_time}} - {{course.end_time}}</p>
                          </td>
                          <td style="text-align: center;">{{course.disc_flag}}</td>
                          <td style="text-align: center;">{{course.graded_hw}}</td>
                          <td style="text-align: center;">{{course.office_hours}} per week</td>
                          <td style="text-align: center;">
                            {%if course.open%}
                            <a href="/apply/{{course.id}}" class="btn btn-success">Apply</a></td>
                            {%else%}
                            <a href="/apply/{{course.id}}" class="btn btn-success disabled">Closed</a></td>
                            {%endif%}
                      </tr>
                      {% endfor %}
                  </tbody>
              {% else %}
                <p>There are no courses.</p>
              {% endif %}
                </table>
        </div>
    </div>
    
{% endif %}
{%endblock%}
