{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{%block title%}InstructorSummary{%endblock%}

{%block nav%}
    <div class="nav-links">
        <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/logout">Logout</a></li> 
      <li><a href="/instructor_summary">Applications</a></li>
    </ul>
    </div>
{%endblock%}



{%block content%}
<h3>Instructor Courses Summary</h3>
{% if user.is_authenticated %}
    <p>Logged in as {{user}}</p>
    <a href="/create/course" class="btn btn-success">New course</a>
    <a href="/home/" class="btn btn-success">Home</a>
    <h2>{{course.course_code}}</h2>
    <div class="table-responsive-md">
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"><h3>Courses</h3></th>
                <th scope="col"><h3>Schedule</h3></th>
                <th scope="col"><h3>Applications</h3></th>
                <th scope="col" style='width: 20%;'><h3>Actions</h3></th>
              </tr>
            </thead>

          {% if courses %}
                  <tr>
                  {% for course in courses%}
                      {%if course.user == user%}
                        <td><p>{{course.course_code}}</p></td>
                        <td>
                          <p>{{course.days}}:</p>
                          <p>{{course.start_time}} - {{course.end_time}}</p>
                        </td>
                        <td>
                          {%for app in course.applications.all %}
                            {% if app.status == 'Pending' %}
                              <ul>
                                <li><a href="/instructor_summary/application/{{app.id}}">{{app}}&emsp;</a><span class="badge badge-warning">{{app.status}}</span></li>
                              </ul>
                            {% elif app.status == 'Accepted'%}
                              <ul>
                                <li><a href="/instructor_summary/application/{{app.id}}">{{app}}&emsp;</a><span class="badge badge-success">{{app.status}}</span></li>
                              </ul>
                            {% else %}
                            <ul>
                              <li><a href="/instructor_summary/application/{{app.id}}">{{app}}&emsp;</a><span class="badge badge-danger">{{app.status}}</span></li>
                            </ul>
                            {%endif%}
                          {%endfor%}
                        </td>
                        <td>
                        {%for app in course.applications.all %}
                        {% if app.status == 'Pending' %}
                            <p><a href="/instructor_summary" class="btn btn-success">Send Offer</a><a href="/instructor_summary" class="btn btn-success" style="margin-left: 10px;">Decline</a></p>
                            {% elif app.status == 'Accepted'%}
                              <ul>
                                <li><span class="badge badge-success">{{app.status}}</span></li>
                              </ul>
                            {% else %}
                            <ul>
                              <li><span class="badge badge-danger">{{app.status}}</span></li>
                            </ul>
                            {%endif%}
                          {%endfor%}
                      </td>
                      {% else %}
                        <td><p>There are no courses.</p></td>
                      {%endif%}
                  </tr>
                  {% endfor %}
              </tbody>
          {% else %}
            <p>There are no courses.</p>
          {% endif %}
            </table>
    </div>
{%else%}
    <h2>You do not have access to this page</h2>  
{% endif %}
    
{%endblock%}
