{% extends 'main/base.html' %}

{%block title%}Home{%endblock%}

{%block content%}
<h3><center>Student Sign Up!</center></h3>
<body>
<form>
  Name
  <input type: "text">
  <form>
  <label for="Major">Major:</label>
  <select id="Major" name="Major">
    <option value="Computer Science">Computer Science</option>
    <option value="Finance">Finance</option>
    <option value="Music" selected>Music</option>
    <option value="Biology">Biology</option>
  </select>
  </form>
  </form>
  </body>
{%endblock%}
