{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{%block title%}Applications{%endblock%}

{%block nav%}
    <div class="nav-links">
      <ul>
        <li><a href="/home"><i>Home</i></a></li>
        {% if user.is_authenticated%} 
          {% if user.is_admin or user.is_teacher%}
            <li><a href="/instructor_summary"><i>Applications</i></a></li>
          {% else%}
            <li><a href="/applications"><i>Applications</i></a></li>
          {%endif%}
        <li><a href="/logout"><i>Logout</i></a></li>
        {%endif%}
      </ul>
    </div>
{%endblock%}



{%block content%}
<h2>Student Application Summary</h2>
{% if user.is_authenticated %}
    <div class="table-responsive-md">
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"><h3>Course</h3></th>
                <th scope="col"><h3>Status</h3></th>
                <th scope="col"><h3>Action</h3></th>
              </tr>
            </thead>

          {% if applications %}
                  <tr style="text-align: center;">
                  {% for app in applications%}
                        <td><p>{{app.course_name}}</p></td>
                        {% if app.status == 'Pending' %}
                        <td><span class="badge badge-warning">{{app.status}}</span><p></p></td>
                        {% elif app.status == 'Accepted'%}
                        <td><span class="badge badge-success">{{app.status}}</span><p></p></td>
                        {% else %}
                        <td><span class="badge badge-danger">{{app.status}}</span><p></p></td>
                        {%endif%}
                        <td><p>test</p></td>
                  </tr>
                  {% endfor %}
              </tbody>
          {% else %}
            <p>{{applications}}</p>
          {% endif %}
            </table>
    </div>
{%else%}
    <h2>You do not have access to this page</h2>  
{% endif %}
    
{%endblock%}
