

{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<style>
:root {
  --primary: #73131d;
  --secondary: #73131d;
  --link-fg: #000000;
  --link-selected-fg: #EC7979;
  --accent: #f5dd5d;
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #ffc;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #c4dce8;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  
  --link-hover-color: #036;
  

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #ffc;

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #747474;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}

#header {
    padding: 0;
}

#branding h1 a:link, #branding h1 a:visited {
    color: #BC9B6A;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
}

#branding h1 {
    padding: 0px;
    margin: 0 20px 0 0;
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--header-branding-color);
    display: inline-block;
    float: right;
    padding-left: 10px;
    margin-top: 17px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
}

</style>
{% endblock %}

{% block branding %}

<img class="logo" src="https://cdn.freebiesupply.com/logos/large/2x/boston-college-5-logo-png-transparent.png">
<h1 id="site-name" style="font-family: cursive;" ><a href="{% url 'admin:index' %}">EagleHire Administration</a></h1>

{% endblock %}
 
{% block nav-global %}{% endblock %}